/* Mobile First */
#contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    text-align: center;
    padding: 2rem;
}

#contact h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--beige-medium);
}

/* Tablette */
@media (min-width: 768px) {}

/* Desktop */
@media (min-width: 1024px) {}