/* Mobile First */
footer {
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    text-align: center;
    padding: 2rem;
}

footer p {
    font-size: 0.875rem;
    color: var(--grey);
}

/* Tablette */
@media (min-width: 768px) {
    footer p {
        font-size: 0.875rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    footer h4 {
        font-size: 20px;
    }
}