#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    text-align: center;
    padding: 1rem 2rem 4rem 2rem;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    max-width: 90%;
}

#hero p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    color: var(--beige-medium);
}

/* Tablette */
@media (min-width: 768px) {
    #hero h1 {
        font-size: 6rem;
        max-width: 100%;
    }

    #hero p {
        font-size: 1.8rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #hero h1 {
        font-size: 8rem;
    }
}